node_modules
dist
.env
coverage
/.turbo
/.parcel-cache
/.next
/.cache
/.eslintcache
/.DS_Store
/*.log
*/.DS_Store
*.tmp
*.swp
*.swo
*.lock
*.sqlite
*.sqlite-journal
*.db
*.db-journal
*.iml
/.idea
/.vscode
